.App {
	background-image: url("C:/Users/pmtag/Documents/front-end/mud/src/images/mossy_waterfall_bg.jpg");

	width: 100vw;
	height:100vh;
}

.App-header {
	text-align: center;
	font-size: 50px;
	font-weight: 500;
	color: white;
}