.map {
	border: 2px solid lightblue;
	background: whitesmoke;
	// border-radius: 100%;
	width: 33vw;
	height: 40vh;
	position: absolute;
	top: 33vh;
	left: 33vw;
	.content {
		color: black;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
